html, body, #root {
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}
body {
  margin: 0;
  background-color: var(--mantine-color-gray-0);
}
html[data-mantine-color-scheme='dark'] body {
  background-color: var(--mantine-color-dark-8);
}
.x-textarea textarea:focus {
  outline: none;
}
